@layer components {
    .cta {
        @apply outline-none;
        @apply appearance-none;
        @apply typo-cta;
        @apply inline-block items-center gap-100;
        @apply border-[.1rem] border-transparent;
    }

    .cta:hover,
    .cta:focus {
        @apply font-bold;
        @apply border-b-fg border-b-[.1rem];
    }
    
    svg {
        display: inline-block;
    }
}
